<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Imersão Full Cycle</title>
</head>
<body class="bg-local bg-cover bg-center" style="background-image: url('https://image.tmdb.org/t/p/original/vUOXexpO4oYhB6Z7SYZfQifCKo0.jpg')"></div>
  <div class="grid grid-cols-1">
    <div class="flex h-screen items-center">
        <div class="rounded-lg bg-white content-center m-auto">
          <h1 class="text-center text-5xl font-extrabold">Imersão Full Cycle</h1>
        </div>
    </div>
  </div>
</body>
</html>